<p><%= link_to project.title, project_show_path(project) %></p>
  <p><%= project.subtitle %></p>
  <p><%= project.body %></p>
  <%= image_tag project.thumb_image unless project.thumb_image.nil? %>
  <%= link_to "Edit", edit_project_path(project) if logged_in?(:site_admin) %>
  <%= link_to "Delete project", project_path(project), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>